<%- include('navbar'); -%>
    <div class="image">
        <div class="parallex">
            <h1 class="p_header">ABOUT US</h1>
            <h2 class="p_sub">meet the team!</h2>
        </div>
        <div class="parallex-content">
            <h1 class="pc_header">Meet the Team!</h1>
            <div class="other" style="height:auto;">
                <div class="pagelink3">
                    <br><br>
                    <img src="" alt="" style="height:150px; width: 150px;">
                    <h3 class="subhead3">Sia Duggal</h3>
                    <h5 class="text" style="padding-bottom:0; margin:0; text-align:center;">Technical Director</h5>
                    <h5 class="text" style="padding-bottom:0; margin:0; text-align:center;">Phone Number:<br>-</h5>
                    <br>
                </div>

                <div class="pagelink3"><br><br>
                    <img src="" alt="" style="height:150px; width: 150px;">
                    <h2 class="subhead3">Damian Dasgupta</h2>
                    <h5 class="text" style="padding-bottom:0; margin:0; text-align:center;">Content Writer</h5>
                    <h5 class="text" style="padding-bottom:2%; margin:0; text-align:center;">Phone Number:<br>-</h5> <br>
                </div>

                <div class="pagelink3"><br>
                    <img src="images2/shashwat_img.jpg" alt="" style="height:150px; width: 150px;">
                    <h2 class="subhead3">Adaa <br>Sachdeva</h2>
                    <h5 class="text" style="padding-bottom:0; margin:0; text-align:center;">Content Writer</h5>
                    <h5 class="text" style="padding-bottom:2%; margin:0; text-align:center;">Phone Number:<br>-</h5> <br>
                </div>
                <br>
                <div class="pagelink3"><br>
                    <img src="images2/shashwat_img.jpg" alt="" style="height:150px; width: 150px;">
                    <h2 class="subhead3">Arjun Ahlawat</h2>
                    <h5 class="text" style="padding-bottom:0; margin:0; text-align:center;">Content Writer</h5>
                    <h5 class="text" style="padding-bottom:2%; margin:0; text-align:center;">Phone Number:<br>-</h5> <br>
                </div>

                <div class="pagelink3"><br>
                    <img src="images2/sia_img.jpg" alt="" style="height:150px; width: 150px;">
                    <h2 class="subhead3">Shreyas Ghosh</h2>
                    <h5 class="text" style="padding-bottom:0; margin:0; text-align:center;">Content Writer</h5>
                    <h5 class="text" style="padding-bottom:2%; margin:0; text-align:center;">Phone Number:<br>-</h5> <br>
                </div>
            </div>

        </div>
    </div>