<%- include('navbar'); -%>
    <div class="image">
        <div class="parallex">
            <h1 class="p_header">ARTICLES</h1>
            <h2 class="p_sub">blog subtitile (if any)</h2>
        </div>
        <div class="parallex-content">
            <br> <br>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Article title</h5>
                            <p class="card-text">A small description of the article</p>
                        </div>
                        <p class="card-text mini"><small class="text-muted">Article Writer</small></p>
                        <br>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Article title</h5>
                            <p class="card-text">A small description of the article</p>
                        </div>
                        <p class="card-text mini"><small class="text-muted">Article Writer</small></p>
                        <br>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Article title</h5>
                            <p class="card-text">A small description of the article</p>
                        </div>
                        <p class="card-text mini"><small class="text-muted">Article Writer</small></p>
                        <br>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Article title</h5>
                            <p class="card-text">A small description of the article</p>
                        </div>
                        <p class="card-text mini"><small class="text-muted">Article Writer</small></p>
                        <br>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Article title</h5>
                            <p class="card-text">A small description of the article</p>
                        </div>
                        <p class="card-text mini"><small class="text-muted">Article Writer</small></p>
                        <br>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Article title</h5>
                            <p class="card-text">A small description of the article</p>
                        </div>
                        <p class="card-text mini"><small class="text-muted">Article Writer</small></p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    </div>
    </div>
    </div>