<%- include('navbar'); -%>

    <div class="image">
        <div class="parallex">
            <h1 class="p_header">SUBSCRIBE </h1>
            <h2 class="p_sub">Sign up for notifications whenever a new post is added</h2>
        </div>
        <div class="parallex-content">
            <form class="form" action="sendto:sia.duggal18208@dpsiedge.edu.in" method="post">
                <div class="dt_row1">
                    <input id="name" class="input ip1" type="text" placeholder="First Name" name="First Name">
                    <input id="age" class="input ip2" type="text" placeholder="Last Name" name="Last Name">
                </div>
                <div class="dt_row2">
                    <input id="email" class="input ip1" type="text" placeholder="Email Address" name="Email">
                    <input id="number" class="input ip2" type="text" placeholder="Contact Number" name="Number">
                </div>
                <div class="dt_row4">
                    <textarea id="etc" name="etc" class="input ip8" placeholder="Anything you would like to tell us (optional)"></textarea>
                </div>
                <br>
                <button class="submit" type="send" name="button" style="margin-left: 40%; ">Submit</button>
                <br>
                <br>
            </form>
        </div>