<%- include('navbar'); -%>
    <div class="image">
        <div class="parallex">
            <h1 class="p_header">BLOG NAME HERE</h1>
            <h2 class="p_sub">blog subtitile (if any)</h2>
        </div>
        <br> <br>
        <div class="parallex-content">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Article title</h5>
                    <p class="card-text">A small description of the article</p>
                    <p class="card-text"><small class="text-muted">Article Writer</small></p>
                </div>
            </div>
            <br>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Article title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Article Writer</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Article title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Article Writer</small></p>
                        </div>
                    </div>
                </div>
                <div class="card card1" style="width: 22rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Article title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text"><small class="text-muted">Article Writer</small></p>
                    </div>
                </div>
                <div class="card card2" style="width: 22rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Article title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text"><small class="text-muted">Article Writer</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>